@import "tailwindcss";


@theme {
  --color-primary: #c5122d;
}

:root {
  overflow-x: hidden;

}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.input {
  @apply w-full rounded-xl border border-gray-200 px-4 py-3 text-sm md:text-base focus:outline-none focus:ring-2 focus:ring-primary/30 focus:border-primary transition;
}

button, a {
  cursor: pointer;
}